*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: flex;
}
body,html {
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
button {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #8942a8, #ba382f);
    overflow: hidden;
}
.banner .stock-limit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #010101;
    width: 400px;
    height: 180px;
    flex-direction: column;
    display: none;
}

.banner .stock-limit em {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.banner .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    display: none;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: white;
    overflow: hidden;
    animation: animate 20s linear infinite;
    bottom: -120px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
    animation-duration: 15s;
}



.fa-shopping-cart {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    color: black;
}

.fa-shopping-cart:hover {
    color: white;
}
.total-qty {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background: white;
    color: black;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 1rem;
    font-weight: 600;
    top: 1rem;
    right: 1.5rem;
    user-select: none;
}

.main-cart {
    position: absolute;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    align-self: center;
    align-items: center;
}

.card {
    position: relative;
    flex-shrink: 0;
    height: 300px;
    width: 200px;
    background-color: #010101;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 7px 5px -5px #4d4b4b;
    transition: 0.5s;
}

.card .img-container {
    position: absolute;
    height: 185px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(35px);
}

.card .img-container img {
    width: 100%;
    align-self: center;
}

.card .img-container .out-of-stock-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    display: none;
}

.card .img-container .out-of-stock-cover span {
    font-weight: 900;
    color: rgba(255, 200, 200, 0.75);
    font-size: 1.5rem;
}

.top-bar {
    transform: translateY(0.5rem);
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
}

.top-bar .fa-apple {
    font-size: 1.5rem;
}

.top-bar .stocks {
    font-size: 0.8rem;
    color: lightgreen;
}

.card .details {
    position: absolute;
    height: 220px;
    width: 100%;
    background-color: #2e2f33;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    bottom: -165px;
    transition: 0.25s;
}

.card .details .name-fav {
    justify-content: space-between;
}

.card .details .name-fav strong {
    font-weight: 600;
}

.fav {
    color: red;
}

.card .details .wrapper {
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(5px);
    display: none;
}

.details .wrapper p {
    font-size: 0.9rem;
    padding: 5px 0;
    font-weight: light;
}

.card .details .purchase {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card .details .purchase p {
    font-weight: 500;
}

.details .purchase .add-btn {
    border-radius: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    padding: 6px 10px;
}

.details .purchase .add-btn:hover {
    background: white;
    color: black;
}

.main-cart .card:hover {
    height: 450px;
    width: 260px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main-cart .card:hover .details {
    bottom: 0;
}

.main-cart .card:hover .wrapper {
    display: block;
}

.side-nav {
    position: absolute;
    background: #010101;
    opacity: 0.95;
    height: 100%;
    width: 60%;
    flex-direction: column;
    top: 0;
    right: -100%;
    z-index: 10;
    overflow: hidden;
    transition: 0.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}