*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: flex;
}
body,html {
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
button {
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.banner {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #8942a8, #ba382f);
    overflow: hidden;
}
